h1,
.h1,
.h1 p {
  font-family: var(--font-montserrat);
  font-display: swap;
  font-size: 2.88rem;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  display: block;

  @include respond-to(lg) {
    font-size: 5.13rem;
  }
}

h2,
.h2,
.h2 p {
  font-size: 2.375rem;
  line-height: 2.895rem;
  font-style: normal;
  font-weight: 700;
  display: block;

  @include respond-to(lg) {
    font-size: 3.5rem;
    line-height: 4.26625rem;
  }
}

h3,
.h3,
.h3 p {
  font-size: 1.8125rem;
  font-style: normal;
  line-height: 2.209375rem;
  font-weight: 700;
  display: block;

  @include respond-to(lg) {
    font-size: 2.25rem;
    line-height: 2.7425rem;
  }
}

h4,
.h4,
.h4 p {
  font-size: 1.625rem;
  font-style: normal;
  line-height: 1.980625rem;
  font-weight: 700;
  display: block;

  @include respond-to(lg) {
    font-size: 2rem;
    line-height: 2.438125rem;
  }
}

h5,
.h5,
.h5 p {
  font-size: 1.4375rem;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  display: block;

  @include respond-to(lg) {
    font-size: 1.625rem;
  }
}

h6,
.h6,
.h6 p {
  font-size: 1.3125rem;
  font-style: normal;
  line-height: 2.1rem;
  font-weight: 500;
  display: block;
}

p,
.p1 {
  font-family: 'Montserrat', "Arial Fallback P";
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-style: normal;
  font-weight: 500;
}

.p2,
.p2 p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: normal;
  font-weight: 500;
}

.p3,
.p3 p {
  font-size: .875rem;
  line-height: 1.4rem;
  font-style: normal;
  font-weight: 500;
}

.btn {
  color: var(--dark-blue);
  background-color: var(--light-green);
  border-radius: .625rem;
  padding: .75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  @extend p;

  &:hover {
    background: rgba(182, 209, 88, 0.8);
    transition: 0.3s;
  }

  &-blue {
    @extend %transition;
    @apply p2 flex items-center px-4 md:px-5 py-2 gap-2 md:gap-5 bg-powder-blue rounded text-white !font-bold;

    &:hover {
      background-color: #124271;
    }
  }

  &:disabled {
    opacity: 0.4;
  }
}

.text-callout {
  font-family: var(--font-newsreader);
  display: inline-block;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 29.4px;
  padding-left: 30px;
  border-left: 6px solid var(--light-green);

  @include respond-to(lg) {
    font-size: 2.125rem;
    line-height: 47.6px;
  }
}

.cta,
.richtext>a {
  font-weight: 700;
  @extend p;

  &.underlined {
    text-decoration: underline;
  }
}

.p-icon {
  display: flex;
  gap: 12px;
  padding-bottom: 12px;

  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.rich-text-container:not(.richtext) {

  ul,
  ol {
    @extend .p1;
    margin: 30px 0 30px 20px;
    list-style: disc;
    list-style-position: outside;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol {
    list-style-type: decimal;

    li::marker {
      font-weight: bold;
    }
  }

  h2+p {
    padding-top: 1.25rem;
  }

  p {
    padding-bottom: 40px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}