.anchor-links {
  position: relative;

  a {
    display: block;
    padding: 10px 1rem;
    position: relative;
    font-weight: 500;
    @extend .p2;
    @extend %transition;

    &.indent {
      margin-left: 15px;
    }

    &:hover,
    &.active {
      background-color: transparent;
      font-weight: 700;
      @extend %transition;

      &:before {
        content: "";
        background-color: transparent;
        position: absolute;
        top: 0;
        left: -5px;
        width: 5px;
        height: 100%;

        @include respond-to(lx) {
          background-color: var(--light-green);
        }
      }

      @include respond-to(xl) {
        background-color: var(--light-green-10);
      }
    }
  }

  nav {
    padding-inline: 30px;
    padding-bottom: 3.75rem;
    background-color: var(--soft-white);

    @include respond-to(lx) {
      position: sticky;
      background-color: var(--white);
      margin-left: auto;
      z-index: 10;
      top: 2.5rem;
      max-width: 21.875rem;
      border-radius: 2.5rem;
      padding-inline: 0;
      padding: 2.5rem;
      right: 3%;
    }

    @include respond-to(xl) {
      right: 5%;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    margin-top: 0;

    @include respond-to(lx) {
      margin-top: var(--top);
    }
  }
}