.anchor-links {

  a {
    display: block;
    padding: 10px 16px;
    position: relative;
    font-weight: 500;
    @extend .p2;
    @extend %transition;

    &:hover,
    &.active {
      background-color: var(--light-green-10);
      font-weight: 700;
      @extend %transition;

      &:before {
        content: "";
        background-color: var(--light-green);
        position: absolute;
        top: 0;
        left: -5px;
        width: 5px;
        height: 100%;
      }
    }

    &.indent {
      margin-left: 15px;
    }
  }

  nav {
    padding-inline: 30px;
    padding-bottom: 3.75rem;
    background-color: var(--soft-white);

    @include respond-to(xl) {
      position: sticky;
      background-color: var(--white);
      margin-left: auto;
      z-index: 10;
      top: 2.5rem;
      max-width: 350px;
      border-radius: 2.5rem;
      padding-inline: 0;
      padding: 2.5rem;
      right: 3%;
    }

    @include respond-to(xxl) {
      right: 5%;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    margin-top: 0;

    @include respond-to(xl) {
      margin-top: var(--top);
    }

  }
}