footer {
  @apply bg-powder-blue;
  color: #fff;
  text-align: center;

  @include respond-to('lg') {
    text-align: left;
  }

  .logo-footer {
    padding-bottom: 30px;
    margin: 0 auto;

    @include respond-to('lg') {
      margin: 0;
    }
  }

  nav {
    display: grid;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;

    @include respond-to('lg') {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
      padding-bottom: 147px;
    }

    p {
      font-size: 1.125rem;

      &.phone {
        padding-top: 30px;
      }

    }

    .footer-title {
      font-size: 1.3125rem;
      line-height: 1.6;
      font-weight: 700;
      padding-bottom: 20px;
    }

    ul {
      li {
        padding-bottom: 12px;
        line-height: 1.6rem;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }

    .link-icon {
      font-size: 1.125rem;
      line-height: 1.6rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to('lg') {
        justify-content: left;
      }

      svg {
        margin-left: 20px;
      }
    }
  }

  .copy {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    gap: 30px;

    @include respond-to('lg') {
      flex-direction: row;
      padding-bottom: 70px;
    }

    p {
      @extend .p3;
      max-width: 250px;

      @include respond-to('lg') {
        max-width: 100%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond-to('lg') {
        flex-direction: row;
      }

      li {
        padding: 15px 0;
        @extend .p3;

        @include respond-to('lg') {
          border-right: 1px solid white;
          padding: 0 20px;

          &:last-child {
            border: none;
          }
        }


      }
    }
  }

  a {
    @extend %transition;

    &:hover {
      @extend %transition;
      text-decoration: underline;
    }
  }
}