footer {
  @apply bg-powder-blue;
  color: #fff;
  text-align: left;

  .logo-footer {
    padding-bottom: 30px;
    margin: 0;
  }

  nav {
    display: grid;
    gap: 50px;
    padding-top: 72px;
    padding-bottom: 40px;

    @include respond-to('lg') {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
      padding-bottom: 147px;
    }

    p {
      font-size: 1.125rem;

      &.phone {
        padding-top: 30px;
      }

    }

    .footer-title {
      font-size: 1.3125rem;
      line-height: 1.6;
      font-weight: 700;
      padding-bottom: 20px;
      text-align: left;
    }

    ul {
      li {
        padding-bottom: 12px;
        line-height: 1.6rem;

        &:last-of-type {
          padding-bottom: 0;
        }

        a {
          min-height: 24px;
          display: block;
        }
      }
    }

    .link-icon {
      display: flex;
      align-items: center;
      font-weight: 700;

      @include respond-to('lg') {
        justify-content: left;
      }

      svg {
        margin-left: 20px;
      }
    }
  }

  .copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    gap: 30px;

    @include respond-to('lg') {
      flex-direction: row;
      padding-bottom: 70px;
    }

    p {
      @extend .p3;
      max-width: 250px;

      @include respond-to('lg') {
        max-width: 100%;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;

      li {
        &:first-child {
          a {
            padding-left: 0;
          }

        }

        &:last-child {
          a {
            border: none;
            padding-right: 0;
          }

        }

        a {
          @extend %transition;
          @extend .p3;
          border-right: 1px solid white;
          text-align: left;
          padding: 0 5px;
          cursor: pointer;

          @include respond-to('lg') {
            padding: 0 20px;
          }
        }
      }
    }
  }

  a {
    @extend %transition;
    @extend .p3;
    text-align: left;

    &:hover {
      @extend %transition;
      text-decoration: underline;
    }
  }
}