%item-hover {
  @extend %transition;

  @include respond-to('lg') {
    background: #fff;
    border: 1px solid var(--powder-blue);
  }

  a {
    @extend %transition;

    @include respond-to('lg') {
      @apply text-powder-blue;

      svg path {
        stroke: var(--powder-blue);
      }
    }
  }
}

%menu-mobile-styles {
  border: 1px solid var(--dark-blue);
  border-radius: 50px;
  padding: 10px 13px;
  display: flex;
  gap: 5px;
  color: var(--dark-blue);
  font-size: .75rem;
  font-weight: 600;
  align-items: center;
}


#mainNavigation {
  .languagebar {
    font-size: 1rem;
    line-height: 1.6rem;

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
      padding: 5px;
      font-size: 0.875rem;
      color: var(--dark-blue);

      @include respond-to('lg') {
        color: #fff;
        font-size: 1rem;
      }

      &:focus,
      &:focus-visible {
        color: var(--dark-blue);
        border: none;

        @include respond-to('lg') {
          color: #fff;
        }
      }

      option {
        color: #000;
      }
    }

  }


  nav {
    #main-menu {
      @apply bg-soft-white;
      position: fixed;
      top: 0px;
      right: -1000px;
      width: 100%;
      height: 100vh;
      background: rgb(0, 0, 0);
      background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.5410539215686274) 20%, rgba(245, 245, 245, 1) 20%, rgba(245, 245, 245, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5410539215686274) 20%, rgba(245, 245, 245, 1) 20%, rgba(245, 245, 245, 1) 100%);
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5410539215686274) 20%, rgba(245, 245, 245, 1) 20%, rgba(245, 245, 245, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#F5F5F5", GradientType=1);
      overflow: hidden;

      @include respond-to('lg') {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        height: auto;
        z-index: 9;
        width: 100%;
        background: none;
        padding-left: 0;
        overflow: initial;
      }

      &.open {
        //transition: all 0.5s cubic-bezier(0.07, 0.38, 0.99, 1.02);
        right: 0;
        z-index: 9999;
        padding-left: 20%;
        z-index: 9999;
        padding-bottom: 50px;
        overflow-y: auto;

        @include respond-to('lg') {
          display: block;
          height: auto;
          z-index: 9;
        }

        .menu-mobile-wrapper {
          display: none;
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        @include respond-to('lg') {
          gap: 25px;
          flex-direction: row;
          justify-content: flex-end;
        }

        li {
          position: relative;
          /*padding: 15px;
          margin: 0 15px;
          border-bottom: 1px solid #666;*/

          @include respond-to('lg') {
            border: 1px solid #fff;
            border-radius: 15px;
            padding: 10px 24px;
            margin: 0;
            position: relative;
          }

          a {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            line-height: 1.8rem;
            font-weight: 700;
            color: var(--dark-blue);
            padding: 15px 0;
            margin: 0 15px;
            border-bottom: 1px solid #CECECE;
            justify-content: space-between;

            svg path {
              stroke: var(--dark-blue);
            }

            @include respond-to('lg') {
              color: #fff;
              padding: 0;
              margin: 0;
              border: none;
              font-size: 1.125rem;
              line-height: 1.8rem;

              svg {
                margin-left: 5px;
                margin-top: 4px;
                transform: rotate(0deg);
                transition: 0.5s transform ease;

                path {
                  stroke: #fff;
                }
              }
            }

            span {
              @include respond-to('lg') {
                margin-right: 5px;
              }
            }
          }

          &:hover {
            @extend %item-hover;

            @include respond-to('lg') {}
          }

          &.active {
            @extend %item-hover;
            padding-bottom: 0;

            svg {
              transform: rotate(180deg);
            }
          }
        }

        .submenu {
          // @extend %transition;
          overflow: hidden;
          max-height: 0;
          border-radius: 40px;
          opacity: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          @include respond-to('lg') {
            position: absolute;
            top: 60px;
            right: 0;
            width: 500px;
            z-index: -999;
            margin: 0;
            padding: 0;
            display: block;
          }

          &.show {
            // @extend %transition;
            opacity: 1;
            max-height: 125rem;
            margin: 15px 15px 0;
            padding: 12px 0;

            @include respond-to('lg') {
              display: block;
              opacity: 1;
              z-index: 999;
              margin: 0;
              padding: 38px 36px;
              background: white;
            }
          }

          li {
            border: none;
            background: white;
            border-radius: 30px;

            @include respond-to('lg') {
              border-bottom: 1px solid var(--light-green);
              padding: 20px 0;
              border-radius: 0;
              background: transparent;

              &:first-of-type {
                padding-top: 0;
              }

              &:last-of-type {
                padding-bottom: 0;
              }
            }

            &:last-of-type {
              border: none;
            }

            a {
              border: none;
              @apply text-blue-800 flex gap-[15px] items-start justify-start;

              img {
                width: 65px;
                height: 65px;
              }

              &:hover {
                @include respond-to('lg') {
                  .menu-title {
                    text-decoration: underline;
                  }
                }
              }

              .menu-title {
                @apply text-[1rem] leading-[1.6rem] font-bold text-dark-blue pb-[5px];
              }

              .menu-description {
                @apply text-[0.875rem] leading-[1.4rem] font-medium text-dark-blue;
              }
            }
          }
        }
      }
    }

    //Main-Menu

    #hamburguerContainer {
      position: absolute;
      top: 11px;
      right: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond-to('lg') {
        display: none;
      }

      .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }

      .menu-mobile-wrapper {
        @extend %menu-mobile-styles;
      }

      .hamburger-lines {
        display: block;
        height: 14px;
        width: 18px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
          display: block;
          height: 2px;
          width: 100%;
          background: var(--dark-blue);
        }

      }
    }

  }

  #close {
    @extend %menu-mobile-styles;
    width: auto;
    position: absolute;
    top: 12px;
    right: 26px;
    padding: 10px 13px;
    width: 88px;
    align-items: center;
    justify-content: center;
  }

  .skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active {
      color: var(--dark-blue);
      background-color: var(--white);
      left: 5px;
      top: 5px;
      width: auto;
      height: auto;
      overflow: auto;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-align: center;
      z-index: 999;
    }
  }

}