.hero {
  $self: &;
  color: white;
  height: 35rem;
  clip-path: url(#clipPath);
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include respond-to(lg) {
    height: 45rem;
  }

  &--secondary {
    height: 35rem;

    @include respond-to(lg) {
      height: 38rem;
    }
  }

  &--download {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0;
    height: auto;
    background-color: var(--powder-blue);
    clip-path: none;
    overflow: auto;
    border-radius: 2.5rem;
    padding: 30px;

    @include respond-to(lg) {
      gap: 1rem;
    }

    #{ $self }__content {
      position: relative;
      align-items: start;
      justify-content: start;
      text-align: start;
      padding-top: 1.5rem;
      transform: none;

      @include respond-to(lg) {
        padding-bottom: 1.5rem;
      }
    }

    &__image {
      width: 100%;
      max-width: 32.5rem;
      height: 12.5rem;
      border-radius: 1.25rem;
      object-fit: cover;

      @include respond-to(sm) {
        height: auto;
      }
    }

    @include respond-to(lg) {
      gap: 5rem;
      flex-direction: row;
      padding: 60px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background:
      linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3));
  }

  &__content {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 54%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    h1 {
      max-width: 70.6rem;
    }

    p {
      max-width: 47rem;
    }
  }

  &__video-player {
    position: relative;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;

    & article {
      background-image: none !important;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      margin-top: -3.75rem;
    }

    .lty-playbtn {
      visibility: hidden;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    display: none;
    align-items: center;
    gap: 0.625rem;
    position: absolute;
    bottom: 15%;
    right: 8%;
    z-index: 2;

    @media (min-width: 1350px) {
      display: flex;
    }
  }
}