.objectives {
  background-color: var(--white);

  &__group-image {
    display: flex;
    position: relative;
    overflow: hidden;

    svg {
      position: relative;
      z-index: 2;
      flex: 1;

      @include respond-to(xl) {
        flex: 0.6;
      }
    }

    .bg {
      background: linear-gradient(90deg,
          #1a65af 50%,
          rgba(26, 101, 175, 0) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;

      @include respond-to(lg) {
        background: linear-gradient(90deg,
            #1a65af 36.88%,
            rgba(26, 101, 175, 0) 100%);
      }
    }

    img {
      max-height: 21.0625rem;
      flex: 3;
      z-index: 0;
      object-fit: cover;

      @include respond-to(lg) {
        flex: 4;
      }
    }
  }

  &__accordions {
    padding-block: 3.75rem;

    @include respond-to(lg) {
      padding-block: 7.5rem;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 21rem;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
    overflow-wrap: anywhere;

    @include respond-to(md) {
      max-width: 35rem;
    }

    @include respond-to(lg) {
      left: 16%;
      max-width: 45rem;
    }
  }
}

.objective-tiles__wrapper .bullet-number {
  position: relative;
  width: 100%;
  min-height: 290px;
  border-radius: 2.5rem;
  background-color: var(--powder-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  color: var(--white);
  padding: 2.25rem;
  padding-bottom: 3rem;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;

  @include respond-to(lg) {
    width: 267px;
    justify-content: flex-start;
  }
}